:host {
    height: 100%;
    width: 100%;
}

.problem-title {
    text-align: center;
}

.center-grid {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

.chatbox {
    background-color: gray;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 250px;
}

.messages {
    height: 250px;
    overflow-y: scroll;
}

.message {
    color: white;
}

.chat {
    width: 100%;
    position: fixed;
    bottom: 0;
}