.invite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
}

.invite-container h1 {
    color: #000000;
    position: relative;
}


.bg-circle {
    display: flex;
    height: 650px;
    width: 650px;
    background-color: #00AAEF;
    align-items: center;
    border-radius: 50%;
    position: absolute;
}

.qr-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    offset-position: 50px;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.qr-wrapper svg {
    width: 200px;
    height: 200px;
}
